body{
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* header */

header{
    display: flex;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    height: 7em;
    justify-content: space-between;
}

/* .fixed{
    position: fixed;
    background-color: white;
    width: 100%;
} */

.logo-div{
    display: flex;
    align-items: center;
}

.logo{
    width: 3.5rem;
    height: auto;
}

.logo-name{
    font-size: 2rem;
    padding-left:1rem ;
    font-weight: bold;
}

.nav{
    height: 100%;
    width: 100%;
    margin-left: 35%;
}

.nav-list{
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.nav-list-item{
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 2rem;
    border-left: solid 1px rgb(168, 167, 167);
    font-size: 0.8rem;
}

.nav-list-item:hover,
.nav-list-item:focus,
.nav-list-item:active{
    background-color: #ee5057;    
    .nav-text{
        color: white;
    }    
}

.nav-last-item{
    border-right: solid 1px rgb(168, 167, 167);
}

.nav-text{
    text-decoration: none;
    color: black;
    width: 100%;
    font-weight: lighter;
}


/*main*/
.first-container{
    position: relative;
    height: 33rem;
}

.background-image{
    width: 100%;
    height: 33rem;
}

.check-bar{
    position: absolute;
    top: 30%;
    left: 25%;
    background-color: white;
    height: 40%;
    box-sizing: border-box;
    width: 50%;
    padding: 2em;
}

.first-line{
    display: flex;
    justify-content: space-between;
}

.first-line-of-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32%;
    height: 10%;
    border: solid 1px rgb(190, 190, 190);
    padding: 1% 7% 1% 1%;
    box-sizing: border-box;
}

.location-input{
    border: none;
}

.fas{
    color: #ee5057;
    font-size: 1.6em;
}

.adult{
    width: 23%;
    height: 2.85rem;
    margin-top: 2%;
    position: relative;
}

.second-line{
    display: flex;
    justify-content: space-between;
}

.adult-selector{
    height: 100%;
    width: 100%;
    padding-left: 24%;
    background-color: white;
    border: solid 1px rgb(168, 168, 168);
    color: gray;
}

.fa-user-alt{
    position: absolute;
    top: 20%;
    left: 4%;
}

.second-user-icon{
    font-size: 1em;
    top: 30%;
    left: 4%;
}

.fa-bed{
    position: absolute;
    top: 20%;
    left: 4%;
}

.red-button{
    height: 100%;
    width: 100%;
    background-color: #ee5057;
    color: white;
    border: none;
    font-size: 0.8rem;
    font-weight: bold;
}

.third-line{
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.help{
    margin-left: auto;
    text-decoration: none;
    color: #ee5057;
    font-size: 0.9rem;
}

.bar-info{
    font-size: 0.8rem;
    color: rgb(160, 160, 160);
}

/*SECOND CONTAINER*/

.second-container{
    width: 100%;
    background-color: #ee5057;
    display: flex;
    justify-content: center;
}

.Subscribe{
    height: 15.5em;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Subscribe-title{
    color: white;
    font-size: xxx-large;
}

.Subscribe-p{
    color: white;
    font-size: large;
}

.Subscribe-button{
    height: 2.85rem;
    width: 35%;
}

.button-text{
    height: 100%;
    width: 100%;
    background-color: #ee5057;
    border: 2px solid white;
    color: white;
}

/*THIRD CONTAINER*/

.third-container{
    display: flex;
    width: 66%;
    height: 33rem;
    align-items: center;
    justify-content: center;
    margin: 0% 17%;
    padding: 0px;
    justify-content: space-between;
}

.gavel-div,.airplane-div,.lifeboul-div{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
}

.gavel-div:hover,
.airplane-div:hover,
.lifeboul-div:hover{
    transform: scale(1.2);
}

.thirds-h{
    text-align: center;
    font-size: x-large;
    color: #ee5057;
}

.thirds-p{
    text-align: center;
    font-size: small;
    color: rgb(153, 153, 153);
}

.thirds-link{
    text-decoration: none;
    color: #ee5057;
    font-size: medium;
}

.thirds-icon{
    font-size: 400%;
    color: #ee5057;
}

/* FOURTH CONTAINER */

.fourth-container{
    width: 100%;
    height: 42rem;
    background-color: rgb(235, 234, 234);
    display: flex;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0% 20%;
    justify-content: space-between;
}

.fourths-main{
    width: 66%;
    overflow: hidden;
    height: 100%;
}

.containers{
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

.container{
    margin-top: 11.5%;
    margin-left: 2%;
    background-color: white;
    height: 82%;
    width: 50%;
}

.first-image{
    margin-left: 0%;
}

.text-under-image{
    padding: 0% 10%;
    height: 100%;
}

.fourths-secondary{
    background-color: white;
    width: 32.1%;
    height: 74%;
}

.secondarys-h{
    color: white;
    font-size: large;
    margin: 0%;
}

.secondarys-p{
    font-size: small;
    color: white;
    margin-bottom: 0%;
}

.image-h{
    color: black;
    font-size: larger;
}

.image-p{
    font-size: small;
    color: rgb(180, 180, 180);
}

.image-link{
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: bold;
}

.link-div{
    height: 8%;
    width: 100%;
    background-color: #ee5057;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondarys-boxes{
    padding: 6%;
}

.box{
    display: flex;
    align-items: center;
    margin-bottom: 3%;
    background-color: rgb(240, 240, 240);
}

.secondary-titl{
    height: 14%;
    background-color: #ee5057;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 2% 8%;
}

.location{
    margin-left: 8%;
}

.dotes{
    display: flex;
    justify-content: center;
}

/* VIDEO */

.video-box{
    width: 1920px;
    height: 500px;
    overflow: hidden;
}

/* FIFTH */

.fifth-container{
    width: 1920px;
    height: 850px;
    overflow: hidden;
    position: relative;
}

.background-img{
    width: 100%;
    margin-top: -10%;
}

.fifths-main{
    position: absolute;
    display: flex;
    align-items: center;
    top: 10%;
    left: 20%;
    height: 80%;
    width: 60%;
    justify-content: space-between;
}

.main-h2{
    font-size: 3rem;
    margin: 0%;
}

.main-h3{
    color: #ee5057;
    margin: 0%;
    font-size: 1.8rem;
}

.fifths-secondary{
    height: 100%;
    width: 70%;
    padding: 2%;
    box-shadow: 0px 0px 14px -3px;
    box-sizing: border-box;
}

.blog-entries{
    margin-top: 2%;
    display: flex;
    align-items: normal;
}

.robot-img{
    margin-top: 0%;
}

.last-image{
    width: 37%;
    height: auto;
}

.image-text{
    width: 60%;
    margin-left: 3%;
}

.robot-h{
    color: #ee5057;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0%;
}

.image-title{
    margin-top: 0%;
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0%;
}

.img-p{
    color: #a8a7a7;
    font-size: smaller;
    margin-top: 2%;
}

.img-link{
    text-decoration: none;
    color: #ee5057;
}

/* FOOTER */

.registration{
    background-image: url(images/bg-img-3.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 45rem;
    background-size: cover;
    position: relative;
}

.registration-bar{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    height: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.reg-main{
    position: absolute;
    width: 60%;
    height: 70%;
    top: 20%;
    left: 20%;
    display: flex;
}

.reg{
    width: 100%;
    height: 10%;
    background-color: #ececec;
    color: #5c5c5c;
    border: none;
    margin-bottom: 5%;
    padding: 2%;
    box-sizing: border-box;
}

.reg:focus{
    border: solid #ecb5b8 3px;
    outline: none;
}

.message{
    height: 35%;
    padding: 4% 2%;
    resize: vertical;

}

.reg-button{
    height: 10%;
    background-color: #ee5057;
    padding: 4% 32%;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.footer{
    background-color: #1f3646;
}

.footer-p{
    width: 100%;
    height: 3rem;
    margin: 0%;
    text-align: center;
    padding-top: 2%;
    color: white;
    font-size: 0.8rem;
}

.footer-link{
    text-decoration: none;
    color: #ee5057;
}

.map-box{
    width: 55%;
    height: 100%;
    margin-right: 5%;
}

.map{
    height: 100%;
    width: 100%;
}

